<% include ../../partials/header %>

<table>

    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
        </tr>
    </thead>

    <tbody>

        <% for (var i = 0; i < rows.length; i++) { %>
            <tr>
                <td>
                    <a href='books/view?_id=<%=rows[i]._id%>'>
                    <%= rows[i].name %>
                    </a>
                </td>
                <td>
                    <a href='authors/view?_id=<%=rows[i].author._id%>'>
                        <%= rows[i].author.name %>
                    </a>
                </td>
            </tr>
        <% } %>

    </tbody>
</table>

<a href='books/add'>Add book</a>
<% include ../../partials/footer %>