<% include ../../partials/header %>

<table>

    <thead>
        <tr>
            <th>Email</th>
            <th>Last name</th>
            <th>First name</th>
            <th>Hash</th>
        </tr>
    </thead>

    <tbody>

        <% for (var i = 0; i < rows.length; i++) { %>
            <tr>
                <td>
                    <%= rows[i].email %>
                </td>
                <td>
                    <%= rows[i].last_name %>
                </td>
                <td>
                    <%= rows[i].first_name %>
                <td>
                    <%= rows[i].hash %>
                </td>
            </tr>
        <% } %>

    </tbody>
</table>

<% include ../../partials/footer %>