<% include ../../partials/header %>

<form method='POST'>
    Email: <input type='email' name='email' required>
    <br/>
    Last name: <input type='text' name='last_name' required>
    <br/>
    First name: <input type='text' name='first_name' required>
    <br/>
    Password: <input type='password' name='password' required>

    <button type='submit'>Submit</button>
</form>

<% include ../../partials/footer %>