<% include ../partials/header %>

<table>

    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
        </tr>
    </thead>

    <tbody>

        <% for (var i = 0; i < rows.length; i++) { %>
            <td>
                <%= rows[i].name %>
            </td>
            <td>
                <%= rows[i].author %>
            </td>
        <% } %>

    </tbody>
</table>
<% include ../partials/footer %>