<% include ../partials/header %>

<div class='row '>
    <div class='col-xs-3'>
        <img src='img/logo.jpg' alt='logo' class='img img-responsive'>
    </div>
    <div class='col-xs-9' style='padding-left:40px'>
        <h1>Ariva library</h1>
        <div>
            <blockquote>He who destroys a good book kills reason itself.
            <footer><a href='/authors?query=John Milton'>John Milton</a> in his anti-censorship pamphlet, <cite title='Areopagitica; A Speech of Mr. John Milton For the Liberty of Unlicens’d Printing, To the Parlament of England.'>Areopagitica</cite></footer>
            </blockquote>
        </div>
    </div>
</div>

<!--<div class='hidden-sm hidden-md hidden-lg'>
    <h1>Avira library</h1>
</div>-->

<p>Welcome to Ariva Library! Be sure to check out our online catalogue.</p>
<% include ../partials/footer %>