<% include ../partials/header %>

<div class='row'>
    <div class='col-xs-3'>
        <img src='img/logo.jpg' alt='logo' class='img img-responsive' >
    </div>
    <div class='col-xs-9' style='padding-left:40px'>
        <h1>Avira library</h1>
        <blockquote>He who destroys a good book kills reason itself.
        <footer><a href='/authors?query=John Milton'>John Milton</a> in his anti-censorship pamphlet, <cite title='Areopagitica; A Speech of Mr. John Milton For the Liberty of Unlicens’d Printing, To the Parlament of England.'>Areopagitica</cite></footer>
        </blockquote>
    </div>
</div>

<p>Welcome to Avira Library! Be sure to check out online catalogue.</p>
<% include ../partials/footer %>