<% include ../../partials/header %>

<table>

    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>

        <% for (var i = 0; i < rows.length; i++) { %>
            <tr>
                <td>
                    <a href='/authors/view?_id=<%=rows[i]._id%>'>
                    <%= rows[i].name %>
                    </a>
                </td>
            </tr>
        <% } %>

    </tbody>
</table>

<a href='authors/add'>Add author</a>
<% include ../../partials/footer %>